{% block bookaroom %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="bookaroom">
            Book a Room
        </a>
    </div>

    <div class="ui active tab" data-tab="bookaroom">
        <div class="ui vertical stripe team segment"
             style="padding-left: 3.5%;
                padding-right: 3.5%;">

            <form class="ui large form" id="bookaroom-form">

                {% comment %} The visitor room form  starts here! {% endcomment %}
                <div id="bookaroom">
                    {% comment %}The form row starts here!{% endcomment %}

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Name </label>

                                <input name="name" type="text" placeholder="Name">
                            </div>

                            <div class="field">
                                <label>Organisation</label>
                                <input placeholder="Organisation" type="text" name="organisation">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Phone </label>
                                <input placeholder="Phone" type="number" name="phone">
                            </div>

                            <div class="field">
                                <label>Email</label>
                                <input placeholder="Email" type="Email" name="email">
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <div class="two fields">
                            <div class="field">
                                <label>Booking From</label>
                                <div class="ui calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Pick a date" name="booking_from">
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Booking To</label>
                                <div class="ui calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" placeholder="Pick a date" name="booking_to">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sixteen wide field">
                        <label>Address</label>
                        <div class="ui fluid input">
                            <textarea class="ui textarea" rows="2" name="address"></textarea>
                        </div>
                    </div>

                    <div class="field">
                        <div class="four fields">

                            <div class="field">
                                <label>Category:</label>

                                <div class="ui fluid search selection dropdown">
                                    <input name="category" type="hidden">
                                    <i class="dropdown icon"></i>

                                    <div class="default text">Select</div>

                                    <div class="menu">
                                        <div class="item" data-value="A">
                                            A
                                        </div>

                                        <div class="item" data-value="B">
                                            B
                                        </div>

                                        <div class="item" data-value="C">
                                            C
                                        </div>

                                        <div class="item" data-value="D">
                                            D
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <label>Country</label>
                                <div class="ui fluid input">
                                    <input name="country" name="country">
                                </div>
                            </div>

                            <div class="field">
                                <label>Number Of People </label>

                                <div class="ui fluid input">
                                    <input name="numberofpeople" type="number">
                                </div>
                            </div>

                            <div class="field">
                                <label>Number Of Rooms</label>
                                <div class="ui fluid input">
                                    <input name="numberofrooms" type="number">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="field">
                        <label>Purpose Of Visit</label>
                        <div class="ui fluid input">
                            <textarea rows="2" name="purposeofvisit"></textarea>
                        </div>
                    </div>

                </div>
                <div class="field">
                    <label><br></label>
                    <div class="ui large primary button right floated" id="booking-form-submit">
                        Submit
                    </div>
                </div>
                <br>
                <br>
            </form>
        </div>
        <br>
        <div class="extra content"></div>
    </div>
{% endblock %}
