{% load static %}
{% block pendingreq %}

{% comment %}The tab menu starts here!{% endcomment %}
<div class="ui pointing secondary menu">
    <a class="active item" data-tab="pendingrequests">
        Requests
    </a>
</div>

<div class="ui active tab" data-tab="pendingrequests">
    <div class="ui vertical segment">
        <table class="ui very basic collapsing celled sortable table">
            <thead>
                <tr>
                    <th>Intender</th>

                    <th>Room(s)</th>

                    <th>Type</th>

                    <th class="three wide column">
                        Details
                    </th>

                    <th>Approve</th>

                    <th>Decline</th>
                </tr>
            </thead>

            <tbody>
                {% for booking in pending_bookings %}
                <tr>
                    <td>
                        <h4 class="ui image header">
                            <div class="content">
                                {{ booking.visitor.intender }}
                                <div class="sub header">
                                {{ booking.visitor.intender.email }}
                                </div>
                            </div>
                        </h4>
                    </td>

                    <td>
                        E-417
                    </td>

                    <td>

                    </td>

                    <td>
                        ...
                    </td>

                    <td class="collapsing">
                        <div class="ui fitted slider checkbox" id="approve">
                            <input type="checkbox"> <label></label>
                        </div>
                    </td>

                    <td class="collapsing">
                        <div class="ui fitted slider checkbox" id="decline">
                            <input type="checkbox"><label></label>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <br>
        <div class="ui divider"></div>

    </div>
</div>

{% endblock %}
