{% block roomstatus %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="roomstatus">
            Room Status
        </a>
        <div style="width: 100%;">
            <i class="edit icon right" style="font-size: 30px; float: right;"  id="edit-room-status"></i>
        </div>
    </div>

    <div class="ui active tab" data-tab="roomstatus">
        <div class="ui vertical segment">
            <table class="ui structured celled sortable table" style="margin-bottom: 16px;">
                <thead>
                <tr>

                    <th rowspan="2">Room Number</th>
                    <th rowspan="2">Floor</th>
                    <th colspan="4"><center>Room Status</center></th>

                </tr>

                <tr>
                    <th class="three wide">Available</th>
                    <th class="two wide">Booked</th>
                    <th class="three wide">Occupied</th>
                    <th class="three wide">Under Maintainence</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>
                        AR - 0898
                    </td>
                    <td>
                        First
                    </td>
                    <td class="editable">
                        <i class="large green checkmark icon"></i>
                    </td>
                    <td class="editable">
                    </td>
                    <td class="editable">
                    </td>
                    <td class="editable">
                    </td>
                </tr>
                </tbody>
            </table>

            <button class="ui primary right floated button" style="display: none;" id="room-status-submit">
                Submit
            </button>
        </div>
    </div>
{% endblock %}

