{% block roomstatus %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="roomstatus">
            Room Status
        </a>
        <div style="width: 100%;">
            <i class="edit icon right" style="font-size: 30px; float: right;"  id="edit-room-status"></i>
        </div>
    </div>

    <div class="ui active tab" data-tab="roomstatus">
        <div class="ui vertical segment">
            <table class="ui structured celled sortable table" style="margin-bottom: 16px;">
                <thead>
                <tr>

                    <th rowspan="2">Room Number</th>
                    <th rowspan="2">Floor</th>
                    <th rowspan="4"><center>Room Status</center></th>

                </tr>
                </thead>

                <tbody>
                    {% for instance in all_rooms_status %}
                    <tr>
                        <td>
                            {{ instance.room }}
                        </td>
                        <td>
                            {{ instance.room.room_floor }}
                        </td>
                        <td class="editable">
                            {{ instance.status }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <button class="ui primary right floated button" style="display: none;" id="room-status-submit">
                Submit
            </button>
        </div>
    </div>
{% endblock %}

