{% load static %}
{% block viewinventory %}
    {% comment %}The tab menu starts here!{% endcomment %}
    <div class="ui pointing secondary menu">
        <a class="active item" data-tab="viewinventory">
            Inventory
        </a>
        <div style="width: 100%;">
            <i class="plus icon" style="padding-left: 80%; height: 100%;"></i>
            <i class="edit icon" style="padding-left: 10%; height: 100%;"></i>
        </div>
    </div>

    {% comment %}The Past bookings segment starts here!{% endcomment %}
    <div class="ui active tab" data-tab="viewinventory">
        <div class="ui vertical segment">
            <table class="ui structured celled sortable table" style="margin-bottom: 16px;">
                <thead>
                <tr>
                    <th>Bill-No.</th>
                    <th>Item</th>
                    <th>Type</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Bill</th>
                </tr>
                </thead>

                <tbody>

                <tr>
                    <td>
                        XXXX-XXXX-XXXX-XXXX
                    </td>

                    <td>
                        Item #1
                    </td>

                    <td>
                        Consumable
                    </td>

                    <td>
                        Qty #1
                    </td>

                    <td>
                        Amt #1
                    </td>

                    <td>
                        <div class="ui inverted circular icon button" style="margin: auto;">
                            <i class="wrench black icon"></i>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>

            <br>
            <div class="ui divider"></div>
        </div>
    </div>

    <!-- Add item section -->

    <div id="add-item-section" style="display: none;">

        <div class="ui pointing secondary menu">
            <a class="active item" data-tab="additem">
                Add Item
            </a>
        </div>

        <div class="ui active tab" data-tab="additem" style="padding: 16px;">
            <div class="ui vertical segment">
                <form class="ui form">
                    <div id="item" class="reset-this-form">
                        <div class="two fields">
                            <div class="ten wide field">
                                <label>Bill Id</label>
                                <div class="ui large input">
                                    <input placeholder="Bill Id">
                                </div>
                            </div>
                        </div>

                        <h5 class="ui dividing header">Add Items</h5>

                        <div class="four fields">
                            <div class="field">
                                <label>Item Name</label>
                                <div class="ui input large">
                                    <input placeholder="Item Name">
                                </div>
                            </div>

                            <div class="field">
                                <label>Quantity</label>
                                <div class="ui input large">
                                    <input placeholder="Quantity">
                                </div>
                            </div>

                            <div class="field">
                                <label>Amount</label>
                                <div class="ui input large">
                                    <input placeholder="Amount">
                                </div>
                            </div>

                            <div class="field">
                                <label>Consumable</label>
                                <div class="ui fitted toggle checkbox">
                                    <input type="checkbox"> <label></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="four fields">
                        <div class="eight wide field"></div>
                        <div class="four wide field">
                            <div class="ui button right floated" id="add-more-items-inventory">
                                Add Another Item
                            </div>
                        </div>

                        <div class=" two wide field">
                            <div class="ui primary button">
                                Submit
                            </div>
                        </div>
                        <div class=" two wide field"></div>
                    </div>

                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
